[alias]
  logf = log --format=fuller
  lol = log --oneline --graph --decorate
  lola = log --oneline --graph --decorate --all
  co = checkout
  st = status
  br = branch
  sw = switch
[core]
  editor = /usr/local/bin/nvim
  pager = diff-so-fancy | less --tabs=4 -RFX
  pager = delta
[delta]
  ; TODO: improve delta colors
  syntax-theme = zenburn
  plus-style = "syntax #417531"
[interactive]
  diffFilter = delta --color-only
[push]
  default = current
[fetch]
  prune = true
[pull]
  rebase = true
[rebase]
  autostash = true
[rerere]
  enabled = true
[commit]
  verbose = true
[merge]
  conflictstyle = diff3
[log]
  format = fuller
[color "status"]
  branch = white
  added = green
  changed = red
  untracked = cyan
[diff]
  wordRegex = [^[:space:]]
  algorithm = patience
[help]
  autocorrect = 1
[url "git@github.com:"]
  pushInsteadOf = https://github.com/
[include]
  path = ~/.gitconfig.local
