[alias]
    logtree = log --oneline --graph --all --decorate
    gui = !sh -c /usr/local/git/libexec/git-core/git-gui
    co = checkout
[user]
    name = Georgi Dankov
    email = gddankov@gmail.com
[duet "env"]
	git-author-initials = os
	git-author-name = Oleksandr Slynko
	git-author-email = oslynko@pivotal.io
	mtime = 1568801087
	git-committer-initials = gd
	git-committer-name = Georgi Dankov
	git-committer-email = gddankov@gmail.com
[commit]
	verbose = true
[difftool]
    trustExitCode = true
[mergetool "vimdiff"]
    trustExitCode = true
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[http]
	sslCAInfo = /Users/i336730/Downloads/SAP Global Root CA.crt
